.ns-input {
    $border-radius-main: 0.5rem;
    @include flexColumn(null, null);
    position: relative;
    min-width: 15rem;

    &__native {
        text-overflow: ellipsis;
        background-color: rgba(127, 103, 150, 0.1);
        border: 1px solid #d5c0f7;
        border-radius: $border-radius-main;
        font-size: 1.6rem;
        padding: 1rem;
        width: 100%;
        color: #3f4254;
        transition: 0.15s all;

        &:focus {
            border: 1px solid cornflowerblue;
            background-color: #fff;
            outline: none;

            &::placeholder {
                opacity: 0;
            }
        }

        &::placeholder {
            font-size: 1.4rem;
            color: rgb(119, 119, 119);
        }
    }

    &__error {
        position: absolute;
        top: 0;
        left: 1rem;
        padding: 0.1rem 0.7rem;
        background-color: #eee;
        transform: translateY(-50%);
        color: red;
        font-size: 1.2rem;
        border-radius: $border-radius-main;
    }

    &__suggestions {
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 0 0.7rem 0.2rem #00000010;
    }
}
