.app {
    height: 100vh;
    width: 100vw;
    padding: 1rem;

    &__main {
        @include flexColumnCenter;
        margin: auto;
        margin-top: 15vh;
        gap: 3rem;
        max-width: 70%;
    }

    &__logo {
        animation: rotate 5s linear infinite;
        height: 15rem;
    }
}
